body{
  margin: 0;
}
.header{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #F55A5A;
  gap:10px;
}

.header > img{
  height: 2.5em;
}
.header > span{
  font-family: 'Inter', sans-serif;
  font-size: larger;
}

